@{
    ViewData["Title"] = "About Us";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>
        We are four college students who have seen the negative impact that most of the products we use, each and every day, can have on the environment. 
        We believe that products don't have to be harmful and wasteful. There are solutions out there that are natural and safe for the environment. We hope to point you to the right direction!
    </p>
</div>

<br />

<div class="text-center">
    <h2 class="display-6">Our Mission</h2>
    <p>Our mission is to promote environmentally friendly products that we believe can help to reduce waste and pollution around the globe.  
        <br>
    </p>
</div>

<br />

<div class="text-center">
    <h2 class="display-6">Who are we?</h2>
    <p>
        We are a group of environmental activists who have a passion for environmentally friendly products that can replace more harmful items people use in their daily lives. 
        We are concerned about our communities, our countries and the world. We hope to aid people as they switch from harmful plastics, non-recycable materials, and detrimental chemicals to more sustainable and safe ingredients and practices. 
    </p>
</div>