html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.image {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    /*==========*/
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.image:hover {
    opacity: 0.6;
}
